body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #f77737, #c13584, #833ab4); /* Degradado estilo Instagram */
    color: #fff;
}

header {
    background-color: #833ab4;
    padding: 1rem 0;
    text-align: center;
    color: white;
}

nav {
    text-align: center;
    margin: 1rem 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #ffdc80;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
    background-color: white;
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #405de6;
    color: white;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c13584;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #f77737;
}

